body {
    font-family: 'Roboto Slab', serif;
    background-color: #264653;
}

.title {
    font-family: 'Rubik', sans-serif;
    font-size: 80px;
    color: #E76F51;
    padding: 15px;
    border-radius: 10px;
    border-bottom: 20px dotted #2A9D8F;
    border-top: 20px dotted #2A9D8F;
    margin-bottom: 20px;
}

.burger-title {
    color: #F4A261;
    margin: 24px;
}

#list-devoured,
#list-burgers {
    margin: 10px;
    height: 300px;
    border-radius: 10px;
    overflow: auto;
    background-color: #377466;
}

.devoured-burgers,
.available-burgers {
    font-size: 16px;
    color: white;
    border-radius: 10px;
    margin: 8px;
    border: 2px solid #bab700;
    padding: 10px;
}

#burger-ready {
    float: right;
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
    text-align: center;
    border: 1px solid transparent;
    margin: 5px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

#burger-ready:hover {
    background-color: #ffc107;
    border-color: #ffc107;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#add-burger {
    margin: 0 auto;
    width: 250px;
    margin-bottom: 50px;
}

#enter-burger {
    font-size: 25px;
    border-radius: 10px;
    color: white;
    background-color: #377466;
}

#submit-burger {
    font-size: 25px;
}


#png {
    max-width: 300px;
    height: auto;
}